:root {
  --background-color: hsl(208, 62%, 26%);
  --secondary-color: hsl(32, 70%, 49%);
  --text-color: hsl(0, 33%, 96%);
  --accent-color: hsl(198, 79%, 31%);
}

.ExchangeRateChart {
  display: grid;
  grid-template-columns: 2fr 10fr 2fr;
  grid-template-rows: 50px 100px 130px 600px 30px 50px;
  grid-gap: 6px;
  background-color: var(--background-color);
  font-family: 'Markazi Text', serif;
  width: 100%;
}

.ExchangeRateChart-title {
  grid-row: 2;
  grid-column: 2;
  background-color: var(--accent-color);
  font-size: 2rem;
  line-height: 2rem;
  color: var(--text-color)
}


.ExchangeRateChart-margin {
  grid-column: 2;
  grid-row: 9;
}

.ExchangeRateChart-margin-top {
  grid-column: 2;
  grid-row: 1;
}


@media screen and (min-width: 900px) {
  .ExchangeRateChart {
      width: 80%;
  }
}

.ExchangeRate {
  display: flex;
  justify-content: center;

}
